@inject Microsoft.AspNetCore.Identity.SignInManager<ApplicationUser> _signInManager

@if (_signInManager.IsSignedIn(User))
{
    Layout = "_Layout_users";
}
else
{
    Layout = "_Layout";
}
@{
    var successMessage = TempData["InsuDeleted"] as string;
}
@model IEnumerable<aryamoneygrow.Models.Insurance>
<table class="table table-responsive my-table">
    <thead style="border:groove">
        <tr>
            <th>Company</th>
            <th>Plan Name</th>
            <th>Plan Type</th>
            <th>Main Url </th>
            <th>Rating</th>

        </tr>
    </thead>
    <tbody style="border:groove">
        @foreach (var contact in Model)
        {
            <tr>
                <td>@contact.INSU_COY</td>
                <td>@contact.INSU_NAME</td>
                <td>@contact.INSU_PLAN_TYPE</td>
                <td>@contact.INSU_MORE_URL</td>
                <td>@contact.RATING</td>
                <td>
                    <form method="post" action="@Url.Action("DeleteInsu", new { id = contact.INSU_ID})">
                        <button type="submit" class="btn btn-danger">Delete</button>
                    </form>
                </td>
            </tr>
        }
    </tbody>
</table>
<style>
    .my-table th,
    .my-table td {
        padding: 12px;
        text-align: left;
    }

    .my-table th {
        background-color: beige;
    }

    .my-table tr:hover {
        background-color: white;
    }

    .my-table .delete-button {
        padding: 6px 12px;
        background-color: #dc3545;
        color: #fff;
        border: none;
        border-radius: 4px;
        cursor: pointer;
    }

        .my-table .delete-button:hover {
            background-color: #c82333;
</style>

<!--to display success message-->
<link href="~/other_scripts/sweetAlerts.min.css" rel="stylesheet" />
<script src="~/other_scripts/sweetAlert.min.js"></script>

<script>
    document.addEventListener("DOMContentLoaded", function () {
        var successMessage = "@successMessage";
        if (successMessage !== "") {
            Swal.fire({
                icon: "success",
                title: "Deleted !",
                text: successMessage
            });
        }
    });
</script>